= form_with(model: diary, local: true) do |form|
  - if diary.errors.any?
    #error_explanation
      %h2
        = pluralize(diary.errors.count, "error")
        prohibited this diary from being saved:
      %ul
        - diary.errors.full_messages.each do |message|
          %li= message
          
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :body
    = form.text_area :body
  .actions
    = form.submit
