<p id="notice"><%= notice %></p>

  <h1>日記一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>登録日</th>
      <th>更新日</th>
      <th>詳細リンク</th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.title %></td>
        <td><%= diary.created_at %>
        <td><%= diary.updated_at %>
        <td><%= link_to '詳細', diary %></td>
        <%# <td><%= link_to 'Edit', edit_diary_path(diary) %></td> 
        <%# <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
<br>


