%body
  .contents.row
    %p
      = @nickname
      さんの日記
    %table
      %thead
        %tr
          %th タイトル
          %th 内容
          %th 登録日時
          %th 更新日時
      - @diaries.each do |diary|
        %tr
          %td= diary.title
          %td= diary.body
          %td
            = diary.created_at
          %td
            = diary.updated_at
          %td= link_to '編集', edit_diary_path(diary)
          %td= link_to '削除', diary, method: :delete, data: { confirm: '削除しても構いませんか?' }
      = link_to '日記を新しく書く', new_diary_path
      %tbody
